<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="automation test suite" verbose="1" parallel="false">
    <test name="Regression suite 1" parallel="classes" thread-count="1" preserve-order="true" >
        <classes>
            <class name="crypto.test.weather.current_weather_report.ItemRainFallTest"/>
            <class name="crypto.test.weather.current_weather_report.ItemIconTest"/>
            <class name="crypto.test.weather.NineDaysWeatherTest"/>
            <class name="crypto.test.weather.LocalWeatherTest"/>

            <class name="crypto.test.open_data.OpenDataTest"/>

            <class name="crypto.test.earthquake.EarthquakeInfoTest"/>
        </classes>
    </test>
</suite>